---
layout: landing-page
permalink: /index.html
lang: pt-br
---

<!--<div id="infoProjeto" align="center">
    <div id="fechaInfoProjeto">x</div>
			    <br>Parte do Projeto <a href="https://capes.gov.br">CAPES/PRINT</a> n, 88887.311889/2018-00                 . 
			    <br>
			    No Brasil:<a href="https://capes.gov.br"><img src="{{ site.baseurl }}/images/programacapesprint.jpg" height = "75px"/></a> <a href="https://politicasocial.ufes.br"><img src="{{ site.baseurl }}/images/logo_politicasocial.png" height = "75px"/></a><a href="https://www.ufes.br/"> <img src="{{ site.baseurl }}/images/download_65anospreferencial.png" height = "75px"/></a> <a href="{{ site.baseurl }}/cooperacao.html" target="_blank">Mais informações</a>. </p>
			    <!--<a class="infoProjetoOK">Ok</a> -->
</div>
-->
		<!-- One -->
			<section id="one" class="wrapper style1">
				<!-- <header class="major">
					<h2>O que fazemos</h2>
					<p> Estudamos no concreto a teoria do valor trabalho </p>
				</header> -->
				<div class="container">
					<div class="row">
						<div class="4u">
							<section class="special box">
								<i class="icon fa-cogs major"></i>
								<h3>Pesquisa</h3>
								<p>Trabalhamos a partir de dados mundiais e internacionais os mais amplos e detalhados possível. Construímos metodologia apta a permitir a abordagem quantitativa, qualitativa, desde uma perspectiva crítica.
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-space-shuttle major"></i>
								<h3>Cooperação</h3>
								<p>Cooperamos em uma rede internacional de pesquisadores, multicultural multi-idiomática, de maneira a abrir perspectivas para aprofundamento de diferentes perspectivas</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-male major"></i>
								<h3>Equipe</h3>
								<p>Os avanços teóricos e empíricos são trabalho de <a href="equipe.html">equipe</a>. O grupo está aberto a receber novos pesquisadores, confira <a href="comoparticipar.html">nesta página</a></p>
							</section>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<header class="major">
					<h2>Destaques</h2>
					<p>Avanços de Pesquisa estabelecimento da Rede Internacional</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special">
								<a href="{{ site.baseurl }}/2021/12/10/taskforce.html" class="image fit"><img src="images/2021-meeting" alt="Trabalhando virtualmente durante a pandemia" /></a>
								<h3>Força-Tarefa de Valores-trabalho mundiais</h3>

								<p> Comunicação constante e fluída é imprescindível para permitir avanço e debate das pesquisa. </p>
								<ul class="actions">
									<li><a href="{{ site.baseurl }}/2021/11/11/taskforce.html" class="button alt">Saiba mais.</a></li>
								</ul>
							</section>
						</div>
						<div class="6u">
							<section class="special">
								<a href="{{ site.baseurl }}pesquisa/2021-2022-no-exploitation-equalization.html" class="image fit"><img src="images/artigos.jpg" alt="Artigos publicados pela equipe" /></a>
								<h3>Publicação de Artigos com avanços dos pesquisadores da equipe</h3>
								<p> Artigo aprovado para publicação questionando hipótese de equalização da taxa de exploração<br>
comparando métodos para redução de trabalho complexo e simples a partir do Banco de Dados Mundial de Valores Trabalho </p>
								<ul class="actions">
									<li><a href="{{ site.baseurl }}pesquisa/2021-2022-reduction-problem.html" class="button alt">Saiba mais</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="8u">
							<section>
								<h2>Temas que abordamos</h2>
								<a href="seminarios.html" class="image fit"><img src="images/worldlabourvalues.jpg" alt="Matriz Mundial de Valores Trabalho" /></a>
								<p>Oportunidade de colaborar com pesquisadoras/es na abordagem de temas como troca desigual, preços e valores, exploração, trabalho qualificado, taxas de lucro, divisão internacional do trabalho, exército industrial de reserva, com perspectiva de mais de duas décadas.<a href="missoes.html" class="button alt small btn-info">Leia mais ...</a> </p>
							</section>
						</div>
						<div class="4u">
							<section>
								<h3>Últimas notícias</h3>
								<p>Publicados nos últimos meses os artigos: métodos de redução do trabalho complexo e simples. Atualizamos as notícias em nossa
							<a href="publicacoes">página de publicações</a> automaticamente, usando Mendeley (join us) e também em nosso <a href="blog"> blog </a>. Também há atualizações de nosso trabalho em redes sociais como Twitter e Facebook. Veja os links ao final da página. </p>
								<ul class="actions">
									<li><a href="blog" class="button alt">Saiba mais</a></li>
								</ul>
							</section>
							<hr />
							<section>
								<h3>Vínculos úteis</h3>
								<ul class="alt">
									<li><a href="http://politicasocial.ufes.br/">Programa de Pós-Graduação em Política Social da UFES</a></li>
                                    					<li><a href="http://nyuccl.org/pages/gittutorial/">Git para cientistas</a></li>
<!--									<li><a href="https://www.overleaf.com/">Overleaf - escrita colaborativa</a></li> -->
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>
