<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
			    <h3>Ciência Aberta e Crítica</h3>
                        <ul class="alt">
				<li><a href="http://www.sep.org.br">Sociedade Brasileira de Economia Política </a></li>
				<li><a href="http://www.sepla.org">Sociedad de Economia Política y Pensamiento Crítico de América Latina </a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Filiação Institucional</h3>
                        <ul class="alt">
                            <li><a href="https://sepla21.org"><img src="images/logo_sepla.png" height="45px"alt="Programa de Pós-Graduação em Política Social" align="center"></a></li>
                            <!--<li><a href="https://ccje.ufes.br/">Centro de Ciências Jurídicas e Econômicas</a></li>-->
			    <li><a href="https://www.ufes.br/"><img src="images/download_65anospreferencial.png" height = "45px" title="UFES" alt="UFES" /></a></li>
			    <li><a href="http://www.institutomarxistadeeconomia.com"><img src="http://www.institutomarxistadeeconomia.com/wp-content/uploads/2014/04/Logotipo-Instituto-Marxista-de-Econom%C3%ADa.png" height = "45px"/alt="Instituto Marxista de Economía"></a></li>
			    <!--<li> Projeto CAPES/PRINT  88887.311889/2018-00</li>-->
                            <li><a href="comonosencontrar.html">Onde estamos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Siga-nos</h2>
                <p>Divulgamos nosso trabalho através dessas redes sociais </p>
                <ul class="icons">
                    <li><a href="http://twitter.com/worldlabourvalues" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="http://gitlab.com/rodrigoesborges/worldlabourvalues" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="http://youtube.com/worldlabourvalues" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
                    <!--<li><a href="https://vimeo.com/userprimeirainfancia/videos" class="icon fa-vimeo-square"><span class="label">Vimeo</span></a></li>-->
                    <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
                    <!-- <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li> -->
                </ul>
            </div>
        </div>
        <ul class="copyright">
		<li><span class="copyleft">&copy;</span>  Rodrigo Borges. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="licença CC-BY-NC-SA" style="border-width:0" src="/images/CC-BY-NC-SA.png" height="31px" /></a>.</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
            <!--&#x1f12f;<li>Imagens: <a href="http://unsplash.com">Unsplash</a></li>-->
            <li>Modelo Jekyll: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
        </ul>
    </div>
</footer>
