<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/pesquisa.html">Research</a></li>
            <li><a href="{{ site.baseurl }}/equipe.html">Team</a></li>
            <li><a href="{{ site.baseurl }}/calendario">Agenda</a></li>
            <li><a href="{{ site.baseurl }}/publicacoes.html">Publications</a></li>
            <li><a href="{{ site.baseurl }}/blog.html">News</a></li>
            <!-- {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %} -->
  {% for tongue in site.languages %}
<li><a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %} >{{ tongue }}</a></li> |
  {% endfor %}
            <li><a href="{{ site.baseurl }}/comoparticipar.html" class="button alt">Como participar</a></li>
  
        </ul>
    </nav>
</header>
