<!DOCTYPE html>
<html lang="en">

  {% include /head.html %}
	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Grupo de Estudos Concretos sobre Teoria do Valor</h2>
                <p>Coord. Prof. Rodrigo Straessli Pinto Franklin</p>
                <!-- <h3> ATTENTION: DASHBOARD UNDER MAINTENANCE UNTIL AUGUST, 24 17H!</h3> -->
                <p> World Labour Values Dashboard is officially launched and available!</p>
                <p> Lançado o Painel Mundial de Valores Trabalho </p>
                <ul class="actions">
                    <li><a href="contato.html" class="button big alt">Contact</a></li>
                    <li><a href="https://panel.worldlabourvalues.org" class="button big alt">Go to Dashboard</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
