---
layout: default
---



{{content}}

<html>

				</div>
				<div class="col-md-4 column">
					<p class="text-left">
						<h3> Como participar</h3>
					</p>
					
					<div>
						Quer participar? Entre em contato com nossa coordenação.
					</div>
					
					<div>
						Mande seu CV e temas de pesquisa para o e-mail do Prof. Rodrigo Straessli Pinto Franklin
					</div>
					
</html>
